<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
    <property name="connection.url">jdbc:mysql://127.0.0.1:3306/db_test?useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Glory.0808</property>

     <!--DB schema will be updated if needed -->
    <property name="hbm2ddl.auto">update</property> <!--自动建表-->
    <property name="format_sql">true</property>  <!--sql语句换行 -->
    <property name="show_sql">true</property><!--sql语句显示 -->
    <property name="hibernate.current_session_context_class">thread</property><!--配置CurrentSession-->


    <mapping class="xin.zcglory.entity.Student"/>
    <mapping resource="mapping/Student.hbm.xml"/>

  </session-factory>
</hibernate-configuration>